.animate__animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .hvr-sweep-to-right {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 65px;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(107, 142, 35, 0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 250px;
    margin-left: 510px;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  @-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
body {
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/10/Dark-Floral-Wallpaper-HD-For-Desktop.jpg');
    background-size: cover;
    color: white;
    overflow: hidden;
}
.title {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}
.title:hover {
    color: rgb(104, 128, 64);
}
.title2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.title2:hover {
    color: rgb(104, 128, 64);
}
.title3 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}
.title3:hover {
    color: rgb(104, 128, 64);
}
.title4 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}
.title4:hover {
    color: rgb(104, 128, 64);
}
.title5 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
}
.title5:hover {
    color: rgb(104, 128, 64);
}
.sub {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    margin: auto;
    text-align: center;
}
.sub:hover {
    color: rgb(104, 128, 64);
}
.page1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: transparent;
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.page1:hover {
    text-decoration: underline;
    color: white;
}
.box1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}
.box2 {
    display: grid;
    align-items: center;
    margin: auto;
    padding-right: 1px;
}
.imaja {
    max-width: 100%;
    max-height: 100%;
    padding-left: 200px;
}
.abouttext {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    text-shadow: 2px 2px 2px black;
}
.next1 {
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 50px;
    padding-left: 140px;
    padding-right: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-family: 'Inter', sans-serif;
}
.next1:hover {
    color: rgb(104, 128, 64);
}
.subtitle {
    color: white;
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 35px;
}
.subtitle:hover {
    color: rgb(104, 128, 64);
}
.subtitle2:hover {
    color: rgb(104, 128, 64);
}
.list {
    text-align: center;
    list-style-position: inside;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    text-shadow: 2px 2px 2px black;
}
.next2 {
    color: white;
    background-color: transparent;
    border-style: none;
    padding-left: 600px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Inter', sans-serif;
}
.next2:hover {

    color: rgb(104, 128, 64);
}
.next3 {
    color: white;
    background-color: transparent;
    border-style: none;
    padding-left: 575px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Inter', sans-serif;
}
.next3:hover {
    color: rgb(104, 128, 64);
}
.description {
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}
.row {
    display: flex;
}
.row2 {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 2px black;

}
.column2 {
    flex: 50%;
    padding: 5px;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}
.email {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.email:hover {
    text-decoration: underline;
    color: rgb(104, 128, 64);
}
.phone {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.phone:hover {
    text-decoration: underline;
    color: rgb(104, 128, 64);
}
